* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #fff;
    color: #fff;
    padding: 20px 0;
}

header .logo img {
    width: 150px;
}

nav ul {
    background: #e5e2e2;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 50px;
}

nav ul li a {
    color: #090909;
    text-decoration: none;
}

.hero {
    background: url('hero.jpg') no-repeat center center/cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.hero h1 {
    font-size: 3em;
}

section {
    padding: 20px 0;
}

section h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
